<!DOCTYPE html>
{% extends 'home/base.html' %}
<html lang="en">
{%load static %}

<body>
{% block content%}
<div class="denocard">
    <img class="denoimg" src="{% static 'home/Munyu.jpg' %}" alt="" />
    <h1>Dennis munyu</h1>
    <h5 class="title">About me</h5>
    <p class="title">He is the designer and developer of this site</p><BR>
    <a  href="https://www.twitter.com/DennisMunyu"><i class="fa fa-twitter"style="font-size:30px;" aria-hidden="True"></i> @DennisMunyu </a><br>
    <a  href="https://www.facebook.com/deno.delphina"><i class="fa fa-facebook-square"style="font-size:30px;" aria-hidden="True"></i>  Munyu Dennis </a><br>
    <a  href="https://www.instagram.com/munyudennis_/" style="color:red"><i class="fa fa-instagram" style="font-size:30px; color:red;" ></i> munyudennis_</a>
     
    


</div>
{% endblock%}

</body>

</html>