<!DOCTYPE html>
<html lang="en">
{% extends 'home/base.html'%} {% block content %}{% load static%}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{eachpost.link}}">{{ eachpost.author }}</a>
            <small class="text-muted">{{ eachpost.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ eachpost.title }}</h2>
        <p class="article-content">{{ eachpost.content }}</p>
        <div>
            {% if user.is_authenticated%}
            <a href="#" onclick="document.getElementById('likebutton').submit()"><i style="font-size:20px;" class="fa fa-thumbs-up" aria-hidden="True"></i></a> {{eachpost.likes}} | <a href="#" onclick="document.getElementById('dislikebutton').submit()"><i  class="fa fa-thumbs-down" style="font-size:20px; color:#d41414"aria-hidden="True"></i></a>            {{eachpost.dislikes}}
            <form id="likebutton" method="POST" action="{% url 'preference' eachpost.id 1%}">
                {% csrf_token %}
                <input type="hidden">
            </form>
            <form id="dislikebutton" method="POST" action="{% url 'preference' eachpost.id 2%}">
                {% csrf_token %}
                <input type="hidden">
            </form>
            {% endif %}



        </div>
    </div>
</article>

{% endblock %}

</html>